# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
.env.dev
.env.test

# Archivos de sistema
.DS_Store
Thumbs.db
cbagamequizz-firebase-adminsdk-fbsvc-7b1b11ae7e.json 
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de compilación/distribución
/dist
/build
/out
/coverage

# Archivos temporales
.tmp
.temp
.cache

# Directorios específicos de IDE/editores
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
*.sublime-workspace
*.sublime-project

# Archivos de configuración local que podrían contener información sensible
config/local.js
config/local.json

# Otros archivos que normalmente no se quieren subir
*.csv
*.dat
*.gz
*.iso
*.jar
*.tar
*.zip
*.pid
*.seed
*.pid.lock